

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #0E0613;
    font-family: 'Kanit', sans-serif;
    color: white;
}

/* Encabezado */
.head {
    text-align: center;
    font-size: 15px;
    margin-top: 190px; /* Centrar verticalmente y ajustar el margen horizontal */
    margin-bottom: 50px;
}

.header {
    display: flex;
    flex-direction: column; /* Cambiar la dirección del contenedor a columna */
    align-items: center; /* Centrar elementos en el eje transversal (vertical) */
}

.presentacion {
    max-width: 500px;
    padding-top: 10px;
    border-top: 2px solid #2C1B47;
    border-radius: 2px;
    text-align: center; /* Centrar el texto */
    margin-bottom: 40px; /* Ajustar el margen inferior */
}

/* Navegación */
nav {
    background: #2C1B47;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 15px 50px;
    height: 80px;
    width: 100%;
    position: fixed; /* Añade esta línea para fijar el menú */
    top: 0; /* Fija el menú en la parte superior de la página */
    z-index: 1000; /* Ajusta el índice z para asegurarte de que esté por encima de otros elementos */
}

.logo{
    height: 45px;
    width: 200px;
}
    

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    padding: 10px;

}

nav ul li a{
    font-size: 18px;
    padding: 7px 13px;
    color: #FFF;
    text-transform: uppercase;
}

li a.active, li a:hover{
    color: #9356A0;
    text-decoration: overline;
    transition: .5s;
}

/* Mi Foto */
.mifoto img {
    border-radius: 10px;
    height: 150px;
    width: 160px;
    margin: 20px 0; /* Ajustar el margen para separar la imagen del texto */
}

/* Titulo2 */
.titulo2 {
    color: white;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 80px;
    text-align: center; /* Centrar el texto */
}

/* Main */
.main {
    margin: 20px;
    margin-bottom: 100px;
}


/* Proyectos */
.titulo2 h1,
.titulo2 h1::before,
.titulo2 h1::after {
    content: "|";
    color: #9356A0;
    margin-right: 5px;
}

.titulo2 h1::before {
    margin-left: 5px;
}

.articulo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.articulo article {
    margin: 10px;
}

.articulo img {
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.articulo img:hover{
    transform: scale(1.1);
}

.articuloskills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.articuloskills article {
    margin: 10px;
}

.articuloskills img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;

}



#contactame {
    color: white;
    padding: 50px 0;
    text-align: center; /* Centrar el texto */
    justify-content: center;
}
#contactame h1 {
    margin-bottom: 20px;
    
}

#contactame article {
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
    flex-wrap: wrap;
}

#contactame img {
    max-width: 50px;
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-right: 30px;
}
#contactame p{
    margin-right: 15px;
    text-align: center;
    align-items: center;
    padding: 20px;
}

#contactame img:hover {
    transform: scale(1.2);
}

.slick-prev, .slick-next {
    font-size: 0px; /* Tamaño de la fuente */
    color: #fff; /* Color de las flechas */
    background: #9356A0; /* Fondo de las flechas */
    border-radius: 50%; /* Borde redondeado */
    margin: 0px;
}

.slick-prev:hover, .slick-next:hover {
    background: #704785; /* Cambiar color al pasar el mouse */
}

.slick-slide {
    margin: 0 5px; /* Reduce el espacio entre los slides */
    
}

.articuloskills {
    max-width: 50%; /* Ajusta el ancho del slider según sea necesario */
    margin: 0 auto; /* Centra el slider */
    border-radius: 10px;
    margin-top: 100px;
}
.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 5px 0; /* Ajusta el espacio entre los indicadores y el slider */
}

.slick-dots li {
    margin: 10 10px; /* Ajusta el espacio entre los indicadores */
}

.slick-dots li button {
    margin-top: 20px;
    background-color: #9356A0; /* Color de fondo de los indicadores */
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
    background-color: #dd8fee; /* Color de fondo de los indicadores activos */
   
}   

.checkbtn {
    font-size: 30px;
    color: #FFF;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
@media (max-width:952){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px) {
    nav{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100px;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        background-color: #2C1B47;
        
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    nav ul li {
        display: block;
        margin: 20px 0; /* Adjust margin for better spacing */
        line-height: 30px;
        float: left;
        text-align: center;
        justify-content: center;
        margin-left: 50px;
    }

    nav ul li a {
        font-size: 18px; /* Slightly reduce font size for better readability */
        float: left;
    }

    li a.hover,
    li a.active {
        background: none;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

/* Apply additional styles for screens up to 600px width */
@media (max-width: 600px) {
    .head {
        margin: 80px auto; /* Adjust margin for better spacing */
    }

    .mifoto img {
        width: 120px; /* Adjust the width of the image for smaller screens */
        height: auto;
    }

    .presentacion {
        max-width: 90%; /* Adjust the width for better responsiveness */
        margin-bottom: 30px; /* Adjust margin for better spacing */
    }

    .articulo img {
        max-width: 100%; /* Ensure images don't overflow their containers */
    }

    .articuloskills img {
        max-width: 100%; /* Ensure images don't overflow their containers */
    }

    .articuloskills {
        max-width: 90%; /* Adjust the width for better responsiveness */
        margin-top: 40px; /* Adjust margin for better spacing */
    }

    .slick-dots {
        margin: 10px 0; /* Adjust margin for better spacing */
    }

    .slick-dots li {
        margin: 5px 5px; /* Adjust margin for better spacing */
    }
}

    